name: Mac Artifact

on:
  repository_dispatch:
    types: [mac-build]
  push:
    branches: [actionsHub, main, "*-bugfix"]
  pull_request:
    branches: [main]
  workflow_call:
    inputs:
      submodule:
        description: The directory of the submodule, if this workflow is being called on a submodule
        required: false
        type: string

jobs:
  build:
    strategy:
      matrix:
        os: [macos-15-intel, macos-14, macos-15, macos-26]
        include:
          # x86_64 native build
          - os: macos-15-intel
            openssl-path: /usr/local/opt/openssl
            target-dir: target/Darwin-x86_64/bin
          # ARM64 native builds
          - os: macos-14
            openssl-path: /opt/homebrew/opt/openssl
            target-dir: target/Darwin-arm64/bin
          - os: macos-15
            openssl-path: /opt/homebrew/opt/openssl
            target-dir: target/Darwin-arm64/bin
          - os: macos-26
            openssl-path: /opt/homebrew/opt/openssl
            target-dir: target/Darwin-arm64/bin
    runs-on: ${{ matrix.os }}
    steps:
      - name: Harden the runner (Audit all outbound calls)
        uses: step-security/harden-runner@df199fb7be9f65074067a9eb93f12bb4c5547cf2 # v2.13.3
        with:
          egress-policy: audit

      - name: Get checkout directory
        uses: step-security/action-cond@45aa5a709bd075f11c74285d8b0ca4d527e5fbcf # v1.2.4
        id: checkout-dir
        with:
          cond: ${{ inputs.submodule != '' }}
          if_true: aerospike-tools  # In this case we are expecting to checkout the tools package.  
          if_false: aql
      - name: Get aql working directory
        uses: step-security/action-cond@45aa5a709bd075f11c74285d8b0ca4d527e5fbcf # v1.2.4
        id: working-dir
        with:
          cond: ${{ inputs.submodule != '' }}
          if_true: aerospike-tools/${{ inputs.submodule }}  # In this case we are expecting to checkout the tools package.  
          if_false: aql
      - uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4.3.1
        with:
          path: ${{ steps.checkout-dir.outputs.value }}
          fetch-depth: 0
      - name: Checkout ${{ steps.working-dir.outputs.value }}
        working-directory: ${{ steps.checkout-dir.outputs.value }}
        run: | 
          git config --global url."https://github.com/".insteadOf "git@github.com:"
          git submodule update --init --recursive -- ${{ inputs.submodule || '.' }}
      - name: Print and get version
        working-directory: ${{ steps.working-dir.outputs.value }}
        id: tag
        run: |
          git describe --tags --always --abbrev=9
          echo "tag=$(git describe --tags --always --abbrev=9)" >> $GITHUB_OUTPUT
      - uses: kenchan0130/actions-system-info@b98fe44bc35efcc60a9828cf4a04783a8b370bde # v1.3.0
        id: system-info
      - name: Cache Aql
        uses: actions/cache@0057852bfaa89a56745cba8c7296529d2fc39830 # v4.3.0
        id: cache-aql
        env:
          cache-name: cache-aql
          cache-index: "9" # To clear the cache if needed.
        with:
          path: |
            ${{ steps.working-dir.outputs.value }}/target
          key: ${{ matrix.os }}-${{ runner.arch }}-${{ steps.system-info.outputs.release }}-build-${{ env.cache-name }}-${{ env.cache-index }}-${{ steps.tag.outputs.tag }}
      - name: Download C Client Deps
        run: |
          brew install automake libtool libyaml
      - name: Cache C Client
        uses: actions/cache@0057852bfaa89a56745cba8c7296529d2fc39830 # v4.3.0
        if: steps.cache-aql.outputs.cache-hit != 'true'
        env:
          cache-name: cache-c-client
        with:
          path: |
            ${{ steps.working-dir.outputs.value }}/modules/c-client/target
          key: ${{ matrix.os }}-${{ runner.arch }}-build-${{ env.cache-name }}-${{ hashFiles(format('{0}/modules/c-client/**/*', steps.working-dir.outputs.value)) }}
      - name: Cache Jansson
        uses: actions/cache@0057852bfaa89a56745cba8c7296529d2fc39830 # v4.3.0
        if: steps.cache-aql.outputs.cache-hit != 'true'
        env:
          cache-name: cache-jansson
        with:
          path: |
            ${{ steps.working-dir.outputs.value }}/modules/jansson/src
          key: ${{ matrix.os }}-${{ runner.arch }}-build-${{ env.cache-name }}-${{ hashFiles(format('{0}/modules/jansson/**/*', steps.working-dir.outputs.value)) }}
      - name: Build aql
        if: steps.cache-aql.outputs.cache-hit != 'true'
        working-directory: ${{ steps.working-dir.outputs.value }}
        run: |
          make OPENSSL_STATIC_PATH=${{ matrix.openssl-path }}/lib
      - name: Sanity Test tools
        working-directory: ${{ steps.working-dir.outputs.value }}
        run: |
          ls target
          cd ${{ matrix.target-dir }}
          ./aql -e "info" 2>&1 | grep "Failed to connect"
      - name: Upload Artifacts
        uses: actions/upload-artifact@ea165f8d65b6e75b540449e92b4886f43607fa02 # v4.6.2
        with:
          name: ${{ steps.system-info.outputs.platform }}-${{ runner.arch }}-${{ matrix.os }}-${{ steps.system-info.outputs.release }}-aql
          path: ${{ steps.working-dir.outputs.value }}/${{ matrix.target-dir }}/aql
          if-no-files-found: error 
          
