name: E2E Tests

on:
  push:
    branches: ["*"]
  pull_request:
    branches: ["*"]

jobs:
  e2e-tests:
    runs-on: ubuntu-24.04
    steps:
      - name: Harden the runner (Audit all outbound calls)
        uses: step-security/harden-runner@20cf305ff2072d973412fa9b1e3a4f227bda3c76 # v2.14.0
        with:
          egress-policy: audit

      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
        with:
          submodules: recursive

      - name: Install build dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y \
            build-essential \
            autoconf \
            automake \
            libtool \
            libssl-dev \
            libreadline-dev \
            zlib1g-dev \
            libyaml-dev

      - name: Get Python version from Pipfile
        run: echo "PYTHON_VERSION=$(grep "python_version" Pipfile | cut -d '"' -f 2)" >> $GITHUB_ENV

      - name: Set up Python ${{ env.PYTHON_VERSION }}
        uses: actions/setup-python@3542bca2639a428e1796aaa6a2ffef0c0f575566 # v3.1.4
        with:
          python-version: ${{ env.PYTHON_VERSION }}

      - name: Install pipenv
        run: python -m pip install pipenv

      - name: Install test dependencies
        run: make init

      - name: Build and run E2E tests
        run: make test
